luncher.publishToTeams=false
luncher.teamsWebHookUrl=<url>

luncher.useProxy=false

luncher.httpProxyHost=
luncher.httpProxyPort=

luncher.httpsProxyHost=
luncher.httpsProxyPort=

luncher.httpsProxyUser=
luncher.httpsProxyPassword=